//@TODO pagination
@import "../tinsta/functions";
.woocommerce {

  /**
   * General
   */
  form .form-row {
    padding-left: 0;
    padding-right: 0;
  }

  div.product p.price,
  div.product span.price {
    color: inherit;
  }

  button.button,
  #respond input#submit,
  a.button,
  button.button,
  input.button,
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    @extend .button;
    &.disabled {
      filter: grayscale(100);
    }
  }

  .woocommerce-error::before,
  .woocommerce-info::before,
  .woocommerce-message::before {
    &:not(.woocommerce-notice) {
      top: 50%;
      margin-top: -1rem;
    }
  }

  /**
   * Messages and notices
   */
  .woocommerce-message {
    padding: 1rem 3rem;
    @extend %message;
  }

  .woocommerce-error {
    padding: 1rem 3rem;
    @extend %message;
    @extend %error;
  }
  .woocommerce-info {
    padding: 1rem 3rem;
    @extend %message;
    @extend %info;
  }


  .woocommerce-MyAccount-navigation > ul {
    //@extend .menu;
  }


  /**
   * Sale badges
   */

  /**
   * Products
   */


  ul.products li.product,
  .woocommerce-page ul.products li.product {
    text-align: center;
  }

  ul.products li.product .price {
    color: $region_root_color_foreground;
  }
  span.onsale,
  ul.products li.product .onsale {
    background-color: $region_root_color_primary;
    box-sizing: content-box; // Seems that woocommerce doesn't like border-box
  }

  .woocommerce-pagination {
   // @extend .pagination;
  }

  nav.woocommerce-pagination ul {
    border: none;
    margin: 0;
  }

  div.product .woocommerce-tabs ul.tabs li,
  .woocommerce div.product .woocommerce-tabs ul.tabs::before {
    background-color: mix($region_main_color_background, $region_root_color_foreground, 80%);
    border-color: mix($region_main_color_background, $region_root_color_foreground, 80%);
    border-radius: 0;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: $region_main_color_background;
    border-bottom-color: $region_main_color_background;
  }
  div.product .woocommerce-tabs ul.tabs li:before,
  div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
  }

  #add_payment_method #payment,
  .woocommerce-cart #payment,
  .woocommerce-checkout #payment {
    background: transparent;

    @include roundness();
  }

  #add_payment_method #payment ul.payment_methods,
  .woocommerce-cart #payment ul.payment_methods,
  .woocommerce-checkout #payment ul.payment_methods {
    border-color: rgba($region_root_color_foreground, .1);
  }

  table.shop_table {
    @extend table;
  }

  form.checkout_coupon,
  form.login,
  form.register {
    @include roundness();
    border: 1px solid mix($region_main_color_background, $region_root_color_foreground, 80%);
  }


  .wc-layered-nav-term .count {
    float: right;
    opacity: .6;
  }

}
