@import "tinsta/_functions";
@import "tinsta/_typography";

body {
  background: $region_root_color_background;
  color: $region_root_color_foreground;
}

input,
textarea,
select {
  background-color: transparent;
}

/**
 * Error page
 */
.error-content-wrapper {
  background-color: $region_main_color_background;
  box-shadow: 0 12px 28px -8px rgba(0, 0, 0, .2);
  margin: 2em auto;
  max-width: $breakpoint-min-tablet;
  min-width: $breakpoint-min-tablet;
  width: 90%;
  padding: 2rem;
  .site-info {
    @extend %base-title;
    text-align: right;
  }
  @include roundness();
}

.content {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 2em;
}

.site-info {
  margin: 1em;
  text-align: right;
  overflow: hidden;
  a:first-child {
    float: left;
  }
}

