@import "tinsta/_functions";

body {
  background: $region_main_color_background;
  color: $region_root_color_foreground;
  /* @TODO make interim logins transparent */
  //&.body.interim-login {
  //  background: transparent;
  //}
  #login {
    padding-top: 4%;
    form {
      color: inherit;
      background: transparent;
      box-shadow: none;
      border: none;
      padding-bottom: 2rem;
      margin-top: 0;
      box-shadow: 0 12px 28px -8px rgba(0, 0, 0, 0.2);
    }
    form label {
      color: inherit;
    }
    form .forgetmenot {
      margin-top: .6rem;
    }
    a {
      background: transparent;
      form {
        background: transparent;
      }
      color: $region_root_color_primary !important;
      &:hover {
        color: $region_root_color_secondary !important;
      }
    }
    #login_error,
    .message {
      margin: 1rem 0;
      background: transparent;
      color: inherit;
      box-shadow: none;
    }
    h1:before {
      height: 160px;
      width: 320px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    h1 a {
      // background: $region_root_color_primary !important;
      // &,&:hover {
      //   color: $region_main_color_background !important;
      // }
      width: auto;
      display: block;
      text-indent: 0;
      height: auto;
      font-size: 48px;
      @include roundness();
      line-height: 1rem;
      padding: 10px;
      margin: .6rem 0 0 0;
      text-align: center;
    }

    .logo-site-description {
      font-size: 12px;
      line-height: 24px;
    }

    .button-primary {
      background: $region_root_color_primary;
      color: $region_main_color_background;
      text-shadow: none;
      border: none;
      box-shadow: none;
      @include roundness();
      &:hover {
        background: $region_root_color_secondary;
        color: $region_main_color_background;
      }
    }

    input {
      color: inherit;
      background: rgba($region_root_color_foreground, .1);
      border-color: mix($region_main_color_background, $region_root_color_foreground, 110%);
      padding: .2rem .6rem;
      line-height: 1.2rem;
      border-width: 0;
      @include roundness();
      &:focus {
        border-color: $region_root_color_primary;
        box-shadow: 0 0 0 ($basics_bordering + px) $region_root_color_primary;
      }
    }

  }
}
