/* Make code editor almost full height for next controls */
#customize-control-component_site_topline .CodeMirror-wrap,
#customize-control-component_site_bottomline .CodeMirror-wrap,
#customize-control-component_social_networks_code .CodeMirror-wrap,
#customize-control-component_header_markup .CodeMirror-wrap,
#customize-control-component_footer_markup .CodeMirror-wrap {
  height: calc( 100vh - 260px );
}

/* Hide next fields because are not relevant */
.menu-item-tinsta-nav-menu-object .field-link-target,
.menu-item-tinsta-nav-menu-object .field-xfn,
.menu-item-tinsta-nav-menu-object .field-description {
  display: none !important;
}

/* Tinsta Widget Addons */
.tinsta-widget-fieldset {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 1em;
}
.tinsta-widget-fieldset legend {
  font-weight: bold;
  padding-left: .6em;
  padding-right: .6em;
}


/* Third-Party plugins tweaks */
input[name="panels_setting[tablet-width]"],
input[name="panels_setting[mobile-width]"],
input[name="panels_setting[margin-sides]"],
input[name="panels_setting[margin-top]"] {
  border: none;
  background: transparent;
  box-shadow: none;
  pointer-events: none;
}