/**
 * Error page
 */
body .error-content-wrapper {
  box-shadow: 0 12px 28px -8px rgba(0, 0, 0, .2);
  margin: 2em auto;
  max-width: 800px;
  min-width: 320px;
  width: 90%;
  padding: 2em;
}
.content {
  border-bottom: 1px solid rgba(0,0,0, .2);
}
.site-info {
  padding: 1em;
  text-align: right;
}
