/**
 * Lazy
 */
img.lazy {
  //background-color: #ddd;
 // object-position: -2000px -2000px;
  opacity: 0;
}
img.lazy-loaded {
  opacity: 1;
  display: inline-block;
  transition: all 150ms ease-in-out;
}


/**
 * Error 404 page
 */
.error-content-wrapper {
  margin: 2em auto;
  max-width: $region_root_breakpoint_tablet;
  min-width: $region_root_breakpoint_mobile;
  width: 90%;
  padding: 2em;
  .site-info {
    @extend %base-title;
    text-align: right;
  }
}


/**
 * Login integration
 */
body.login {

  #login_error {
    @extend .message;
    @extend .error;
  }

  //.message.register {
  //  background: transparent;
  //  border: none;
  //  outline: none;
  //  text-align: initial;
  //  padding: 0;
  //  margin: 0;
  //  color: inherit;
  //  @extend %big;
  //}

  [aria-describedby="login_error"] {
    @extend .error;
  }

  #backtoblog {
    display: none;
  }

}

/**
 * Horizontal menu
 */
// @TODO


/*
 * Mobile menu and back button.
 */
.mobile-back-button {
  @include roundness('bottom');
  z-index: $z-index-modal;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3em;
  line-height: 3em;
  background: $region_main_color_background;
  color: $region_root_color_foreground;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  &:before {
    @extend %la;
    content: $la-close;
    margin-left: .5rem;
    margin-right: .5rem;
    line-height: 3rem;
  }
}
.mobile-menu {
  display: block !important;
  position: fixed !important;
  top: 5em !important;
  left: 2em !important;
  right: 2em !important;
  overflow: auto !important;
  width: calc(100% - 4em) !important;
  max-height: calc(100% - 3em - 4em) !important;
  z-index: $z-index-modal !important;
  transform: translate(0, 0) !important;
  box-shadow: 0 0 0 $region_root_width+px rgba(0, 0, 0, .76) !important;
  background: $region_root_color_background !important;
  padding: 1em !important;
  margin: 0 !important;
  @include roundness();
  &,
  a,
  li > a {
    color: $region_root_color_foreground !important;
  }
  li > a {
    @include border($region_root_color_foreground, '-bottom', 1);
    padding: 1em;
    text-align: unset;
  }
  .sub-menu {
    display: block !important;
  }
}

/**
 * Generic tinsta menu items styling
 */
.menu-item-type-tinsta-nav-menu-frontpage {
  .custom-logo {
    display: inline-block;
    max-height: 1.6em;
    max-width: 5em;
    height: auto;
    width: auto;
    vertical-align: middle;
  }
}
.menu-item-type-tinsta-nav-menu-current-user {
  .avatar {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    margin-right: 1em;
    vertical-align: bottom;
  }
}

/**
 * Scroll Top button
 */
@if $component_scrolltop {
  .scrolltop-button {
    @include roundness();
    z-index: $z-index-modal - 1;
    display: none;
    position: fixed;
    @if $component_scrolltop == 'bottom-right' {
      bottom: 1.4em;
      right: 2.4em;
    } @else if $component_scrolltop == 'bottom-left' {
      bottom: 1.4em;
      left: 2.4em;
    } @else if $component_scrolltop == 'top-right' {
      top: 1.4em;
      right: 2.4em;
    } @else if $component_scrolltop == 'top-left' {
      top: 1.4em;
      left: 2.4em;
    }
    width: 2.4em;
    height: 2.4em;
    overflow: hidden;
    padding: .4em;
    text-indent: 100px;
    background: $region_root_color_primary;
    color: $region_main_color_background;
    cursor: pointer;
    &:before {
      @extend %la;
      content: $la-angle-double-up;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      font-size: 1.6em;
      line-height: 1.5em;
      text-align: center;
      text-indent: 0;
    }
  }
}

/**
 * Main pagination
 */
.pagination {
  @include roundness();
  clear: both;
  overflow: hidden;
  text-align: center;
  margin: 2em auto;
  max-width: 86%;
  @if $component_pagination_style == 'bold' {
    font-weight: bold;
  }
  a,
  span {
    @extend .pagination-item;
  }
  .nav-links {
    @extend .pagination-items;
  }
}
.pagination-items {
  display: inline-block;
  @if $component_pagination_style == 'bordered' {
    @include border($region_root_color_foreground);
    @include roundness();
  }
}
.pagination-item {
  color: muted($region_root_color_foreground);
  display: inline-block;
  position: relative;
  padding: .4em .8em;
  text-decoration: none;
  @if $component_pagination_style == 'bordered' {
    &:not(:last-child) {
      @include border($region_root_color_foreground, '-right');
      margin-left: -2%; // Magic number because the inline-block spacing
    }
  }
  &:hover {
    color: $region_root_color_primary;
  }
  &.current {
    color: $region_root_color_primary;
    @if $component_pagination_style == 'bold' {
      text-decoration: underline;
    } @else if $component_pagination_style == '' {
      @include border($region_root_color_foreground);
    } @else {
      font-weight: bold;
    }
  }
  &.prev,
  &.next {
    text-transform: uppercase;
  }
  @media (max-width: $region_root_breakpoint_mobile) {
    border-right: none !important;
  }
  &.prev:not(:last-child):before {
    @extend %la;
    content: $la-angle-left;
    margin-top: -.24em; /* Magic number because the LineAwesome font */
  }
  &.next:not(:first-child):after {
    @extend %la;
    content: $la-angle-right;
    margin-top: -.24em; /* Magic number because the LineAwesome font */
  }
}

/**
 * Breadcrumbs Home > Path > To > Current Page
 */
.breadcrumbs {
  margin-top: 2em;
  line-height: 2.4em;
  color: inherit;
  .trail {
    @extend .breadcrumb-trail;
  }
}
.breadcrumb-trail {
  display: inline-block;
  max-width: 28%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle; // have strange behavior
  white-space: nowrap;
  color: inherit;
  &:hover {
    color: $region_root_color_primary;
  }
  &:not(:last-child):after {
    @extend %la;
    content: $la-angle-right;
    display: inline-block;
    width: 1em;
    margin: 0 .1em 0 .4em;
    line-height: 1em;
  }
  &:last-child {
    color: inherit;
    padding-right: 0;
    pointer-events: none;
  }
}

/**
 * Overlay component.
 */
.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($region_root_color_foreground, .84);
  z-index: $z-index-modal - 1;
  .dialog-inner {
    @include roundness();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    max-width: 90%;
    max-height: 420px;
    background-color: $region_main_color_background;
    color: $region_root_color_foreground;
    overflow: auto;
    padding: 1em;
    .content {
      max-height: 340px;
      overflow: auto;
    }
    .buttons {
      margin-top: .8em;
      text-align: center;
      button {
        margin-right: 1em;
      }
    }
  }
}

/**
 * Context Header
 * @TODO refactor
 * @TODO optimize
 */
.context-header {

  color: $region_root_color_foreground;
  min-height: 240px;
  padding: 0;
  position: relative;
  width: 100%;
  //margin-top: 2em;
  //margin-bottom: 2em;

  @media (min-width: $region_root_breakpoint_mobile) {
    background-color: $region_root_color_foreground;
    color: $region_main_color_background;

    &.extended {
      margin-bottom: -3.08em;
      margin-left: -10%;
      width: 120%;
    }
  }

  .wrapper {
    position: relative;
  }

  img {
    display: block;
    height: auto;
    max-height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;

    @media (max-width: $region_root_breakpoint_tablet) {
      opacity: .5;
    }

  }

  .primary,
  .breadcrumbs {
    left: 10px;
    position: absolute;
    text-shadow: 0 0.1em 2em rgba(0, 0, 0, .2);
    top: 10px;
    width: 40%;
    @media (max-width: $region_root_breakpoint_tablet) {
      position: static;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &.extended .primary,
  &.extended .breadcrumbs {
    left: 10%;
  }

  .breadcrumbs .trail {
    color: inherit;
    max-width: 60%;
  }

  a {
    color: inherit;
  }

  .entry-meta,
  .secondary {
    color: inherit;
    font-weight: bold;
    padding: 1em 0.6em 1em 0;
    position: absolute;
    right: 10px;
    text-shadow: 0 0.1em 2em rgba(0, 0, 0, .2);
    top: 10px;
    @media (max-width: $region_root_breakpoint_tablet) {
      padding: .4em;
      background-color: $region_main_color_background;
    }
  }

  &.extended .secondary {
    right: 10%;
  }

  .entry-title,
  .title {
    color: inherit;
    text-overflow: unset;
    hyphens: manual;
    font-weight: bold;
    left: 50%;
    line-height: 1.2em;
    padding: 0;

    text-align: center;
    text-shadow: 0 0.1em 2em rgba(0, 0, 0, .2);
    width: 84%;
    margin: 0 auto;
    z-index: 10;

    @media (min-width: $region_root_breakpoint_tablet) {
      font-size: 3em;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: $region_root_breakpoint_tablet) {
      width: 90%;
      font-size: 2.5em;
      margin-bottom: 1em;
    }

  }

}

/**
 * Message boxes
 */
.message {
  background-color: #eeeeee;
  border: 2px solid #e3e3e3;
  color: #777;
  margin: 2em auto;
  padding: 1.6em;
  text-align: center;
  @include roundness();
}
.ok {
  background-color: #e6ffdb;
  border-color: #cfeac4;
  color: #104c10;
}
.error {
  background-color: #ffebe0;
  border-color: #ead2c6;
  color: #845f4c;
}
.info {
  background-color: #ebf6fb;
  border-color: #dbedee;
  color: #3d6380;
}
.warning {
  background-color: #fdfddc;
  border-color: #efe8cc;
  color: #79680a;
}
.notice {
  background-color: $region_main_color_background;
  border-bottom: none;
  border-right: none;
  border-top: none;
  border-left-width: 2px;
  margin: 2em auto;
  padding: 1.6em;
  text-align: inherit;
  border-radius: 0;
}

/**
 * Agreement
 */
#site-enter-agreement .dialog-inner {
  @if $component_site_agreement_style == 'top'  {
    top: 1em;
    bottom: unset;
    transform: translate(-50%, 0);
  } @else if $component_site_agreement_style == 'bottom'  {
    top: unset;
    bottom: 1em;
    transform: translate(-50%, 0);
  } @else if $component_site_agreement_style == 'bottomfull'  {
    max-width: unset;
    min-width: unset;
    width: 100%;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    transform: unset;
  }
}