.entries-no-result {
  @extend .bigger;
  font-weight: lighter;
  margin: 3em 0;
  text-align: center;
}

.site-entries {

  // Shared.
  .hentry {

    .edit-post-link:before {
      @extend .la;
      @extend %la-edit;
    }

    .entry-header {
      &:empty {
        display: none;
      }
    }

    .author-list {
      float: left;
      clear: both;
      width: 100%;
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 1em;
      border: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
      background-color: mix($section_main_color_background, $section_main_color_foreground, 95%);
      @extend .clearfix;
      @extend %roundness;

      .author {
        display: inline-block;
        .author-title {
          font-weight: bold;
        }
      }
    }

  }

  // Default only.
  .hentry.default {

    @extend .clearfix;

    .entry-thumbnail-wrapper {
      text-align: center;
      a {
        display: block;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .entry-meta {
      color: mix($section_main_color_background, $section_main_color_foreground, 20%);
      font-variant: all-small-caps;
      > * {
        margin-right: 1em;
      }
    }

    .entry-meta-item:before {
      @extend .la;
      @extend %la-circle-o;
    }

    // Seems that Safari format dates in own way, so could differ from other styles,
    // but this isn't styling issue, but Safari's
    .entry-meta-time:before {
      @extend .la;
      @extend %la-calendar;
    }

    .entry-meta-author:before {
      @extend .la;
      @extend %la-user;
    }

    .entry-meta-comments:before {
      @extend .la;
      @extend %la-comments-o;
    }

    .tags {
      &:before {
        @extend .la;
        @extend %la-tags;
      }
      a:before {
        @extend var;
        content: "#";
      }
    }

    .categories {
      &:before {
        @extend .la;
        @extend %la-folder-open-o;
      }
      .post-categories {
        display: inline;
        margin: 0;
        li {
          display: inline-block;
          &:not(:last-child) {
            &:after {
              content: ','
            }
          }
        }
      }
    }

    .social-networks-code {
      display: inline-block;
    }

    //.entry-summary,
    .entry-content:not(:last-child) {
      @extend .clearfix;

      // Fix the margin bottom because clearfix.
      *:last-child {
        margin-bottom: 0;
      }

    }

  }

  // Singulars overrides.
  &.site-entries-single {
    .hentry.default {

      .entry-thumbnail-wrapper {
        margin-bottom: 2em;
      }

      .entry-header {
        margin: 2em 0 1em 0;
      }

      .entry-meta {
        margin: 1em 0;
        padding-bottom: 1em;
        border-bottom: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
      }

      .entry-summary {
        @extend .big;
      }

      .entry-content:not(:last-child) {
        margin-bottom: 2em;
      }

      .entry-footer {
        padding: 1em 0;
        margin-top: 2em;
        border-top: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
      }


      &.layout-contextual-header {
        .entry-header {
          @extend .context-header;
        }
      }

      @media (min-width: $section_root_breakpoint_tablet) {
        &.layout-left-thumbnail {
          .entry-header {
            @extend .clearfix;
          }
          margin-top: 2em;
          .entry-thumbnail-wrapper {
            display: inline-block;
            float: left;
            width: 40%;
          }
          .entry-title,
          .entry-meta {
            margin-left: 44%;
          }
        }
        &.layout-right-thumbnail {
          .entry-header {
            @extend .clearfix;
          }
          margin-top: 2em;
          .entry-thumbnail-wrapper {
            display: inline-block;
            float: right;
            width: 40%;
          }
          .entry-title,
          .entry-meta {
            margin-right: 44%;
          }
        }
      }
    }
  }

  // Archives overrides.
  &.site-entries-archive {

    .hentry.default {
      margin-top: 2em;
      margin-bottom: 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);

      &.sticky {
        border: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
        background-color: mix($section_main_color_background, $section_main_color_foreground, 95%);
        padding: .6em 1em;
      }

      .entry-meta {
        @extend .small;
      }

      // Layout.
      &.layout-boxes {

        @media (min-width: $section_root_breakpoint_tablet+1) {
          width: 31.5%;
          &:not(:nth-child(3n+3)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        @media (max-width: $section_root_breakpoint_tablet) {
          width: 48%;
          &:not(:nth-child(2n+2)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        vertical-align: top;
        border: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);

        .entry-thumbnail-wrapper img {
          width: 100%;
        }
        .entry-header,
        .entry-summary {
          margin: 1em;
        }

        body.effects & {
          transition: transform 75ms ease-in-out, box-shadow 100ms ease-in-out;
          &:hover {
            transform: scale(1.02);
            box-shadow: 0 18px 60px -18px rgba(0, 0, 0, .6);
          }
        }
      }

      // Layout.
      &.layout-cover-boxes {

        text-align: center;

        @media (min-width: $section_root_breakpoint_tablet+1) {
          width: 23.12%;
          &:not(:nth-child(4n+4)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        @media (max-width: $section_root_breakpoint_tablet) {
          width: 31.5%;
          &:not(:nth-child(3n+3)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        vertical-align: top;
        border: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
        min-height: 10em;

        .entry-thumbnail-wrapper img {
          width: 100%;
        }
        .entry-header {
          margin: 1em;
          .entry-title {
            font-size: 1.2em;
          }
        }
        .entry-meta,
        .entry-summary {
          display: none;
        }

        body.effects & {
          transition: transform 75ms ease-in-out, box-shadow 100ms ease-in-out;
          &:hover {
            transform: scale(1.02);
            box-shadow: 0 18px 60px -18px rgba(0, 0, 0, .6);
          }
        }

      }

      // Layout.
      &.layout-left-thumbnail.has-post-thumbnail {
        .entry-thumbnail-wrapper {
          width: 25%;
          float: left;
        }
        .entry-header,
        .entry-summary {
          margin-left: 28%;
        }
      }

      // Layout.
      &.layout-right-thumbnail.has-post-thumbnail {
        .entry-thumbnail-wrapper {
          width: 25%;
          float: right;
        }
        .entry-header,
        .entry-summary {
          margin-right: 28%;
        }
      }

      // Layout.
      &.layout-timeline {
        margin-left: 10em;
        margin-top: 0;
        margin-bottom: 0;
        &:first-child {
          margin-top: 2em;
        }
        &:last-child {
          margin-bottom: 2em;
        }
        position: relative;
        padding: 1em;
        border-left: 1px solid mix($section_main_color_background, $section_main_color_foreground, 80%);
        border-bottom: none;
        .entry-meta > * {
          position: absolute;
          transform: translateX(-100%);
          left: 0;
          padding: 0 .4em;
        }
        .entry-meta-time {
          top: 1em;
          background-color: rgba($section_main_color_foreground, .8);
          color: $section_main_color_background;
        }
        .entry-thumbnail-wrapper {
          display: none;
        }
        .entry-meta-author {
          border-bottom: 1px solid mix($section_main_color_background, $section_main_color_foreground, 80%);
          top: 1em;
          right: 0;
          left: auto;
          transform: translate(0, 0);
          opacity: .5;
        }
      }

      // Layout.
      &.layout-poetry {
        text-align: center;
        @extend .bigger;
        .entry-title {
          font-weight: normal;
        }
        .entry-summary {
          font-weight: 300;
        }
        border-bottom-width: 3px;
        border-bottom-style: dashed;
      }

    }
  }
}
