.entries-no-result {
  @extend %bigger;
  margin: 3em 0;
  text-align: center;
}

.site-entries:last-child .hentry:last-child {
  border-bottom: none !important;
}

.site-entries {

  margin-top: 1em;//@TODO
  margin-bottom: 1em;//@TODO this adds extra space at bottom which is an issue.

  // Shared.
  .hentry {

    .edit-post-link:before {
      @extend %la;
      content: $la-edit;
    }

    .entry-header {
      &:empty {
        display: none;
      }
    }

    .author-list {
      float: left;
      clear: both;
      width: 100%;
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 2em 0 1em 0;
      @extend %clearfix;
      @include border($region_root_color_foreground, '-top', 1);
      @include roundness();
      .author {
        display: inline-block;
        .author-title {
          font-weight: bold;
        }
      }
    }

  }

  // Default only.
  .hentry.default {

    @extend %clearfix;

    .entry-thumbnail-wrapper {
      text-align: center;
      a {
        display: block;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .entry-meta {
      color: muted($region_root_color_foreground);
      > * {
        margin-right: 1em;
        display: inline-block;
      }
    }

    .entry-meta-item:before {
      @extend %la;
      content: $la-circle-o;
    }

    // Seems that Safari format dates in own way, so could differ from other styles,
    // but this isn't styling issue, but Safari's
    .entry-meta-time:before {
      @extend %la;
      content: $la-calendar;
    }

    .entry-meta-author:before {
      @extend %la;
      content: $la-user;
    }

    .entry-meta-comments:before {
      @extend %la;
      content: $la-comments-o;
    }

    .tags {
      &:before {
        @extend %la;
        content: $la-tags;
      }
      a:before {
        @extend var;
        content: "#";
      }
    }

    .categories {
      &:before {
        @extend %la;
        content: $la-folder-open-o;
      }
      .post-categories {
        display: inline;
        margin: 0;
        li {
          display: inline-block;
          &:not(:last-child) {
            &:after {
              content: ','
            }
          }
        }
      }
    }

    .social-networks-code {
      display: inline-block;
    }

    //.entry-summary,
    .entry-content:not(:last-child) {
      @extend %clearfix;

      // Fix the margin bottom because clearfix.
      > *:last-child {
        margin-bottom: 0;
      }

    }

  }

  // Singulars overrides.
  &.site-entries-single {
    .hentry.default {

      .entry-thumbnail-wrapper {
        margin-bottom: 2em;
      }

      .entry-header {
        margin: 2em 0 1em 0;
      }

      .entry-meta {
        margin: 1em 0;
        padding-bottom: 1em;
        @include border($region_root_color_foreground, '-bottom', 1);
      }

      .entry-summary {
        @extend %big;
      }

      .entry-content:not(:last-child) {
        margin-bottom: 2em;
      }

      .entry-footer {
        padding: 1em 0;
        margin-top: 2em;
        @include border($region_root_color_foreground, '-top', 1);
      }


      &.layout-contextual-header {
        .entry-header {
          @extend .context-header;
        }
      }

      &.layout-catalog-item {
        .entry-title {
          margin-top: 0;
        }
        .entry-thumbnail-wrapper {
          display: inline-block;
          width: 40%;
          vertical-align: top;
        }
        .entry-details {
          display: inline-block;
          width: 48%;
          margin-left: 8%;
          vertical-align: top;
          .entry-details-meta  {
            margin: 0;
            li {
              list-style: none;
              //margin-bottom: em;
            }
          }
          .label {
            font-weight: bold;
            &:after {
              content: ':';
            }
          }
          .term {
            &:not(:last-child):after {
              content: ', ';
            }
          }
        }
      }

      @media (min-width: $region_root_breakpoint_tablet) {
        &.layout-left-thumbnail {
          .entry-header {
            @extend %clearfix;
          }
          margin-top: 2em;
          .entry-thumbnail-wrapper {
            float: left;
            width: 40%;
          }
          .entry-title,
          .entry-meta {
            margin-left: 44%;
          }
        }
        &.layout-right-thumbnail {
          .entry-header {
            @extend %clearfix;
          }
          margin-top: 2em;
          .entry-thumbnail-wrapper {
            float: right;
            width: 40%;
          }
          .entry-title,
          .entry-meta {
            margin-right: 44%;
          }
        }
      }
    }
  }

  // Archives overrides.
  &.site-entries-archive {

    .hentry.default {
      margin-top: 2em;
      margin-bottom: 2em;
      padding-bottom: 1em;
      @include border($region_root_color_foreground, '-bottom', 1);

      &.sticky {
        @include border(muted($region_root_color_primary));
        background-color: opa(muted($region_root_color_primary));
        padding: .6em 1em;
      }

      .entry-meta {
        @extend %small;
      }

      // Layout.
      &.layout-boxes {

        @media (min-width: $region_root_breakpoint_tablet+1) {
          width: 31.5%;
          &:not(:nth-child(3n+3)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        @media (max-width: $region_root_breakpoint_tablet) {
          width: 48%;
          &:not(:nth-child(2n+2)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        vertical-align: top;
        @include border($region_root_color_foreground);

        .entry-thumbnail-wrapper img {
          width: 100%;
        }
        .entry-header,
        .entry-summary {
          margin: 1em;
        }

        //body.effects & {
        //  transition: transform 75ms ease-in-out, box-shadow 100ms ease-in-out;
        //  &:hover {
        //    transform: scale(1.02);
        //    box-shadow: 0 18px 60px -18px rgba(0, 0, 0, .6);
        //  }
        //}
      }

      // Layout.
      &.layout-cover-boxes {

        text-align: center;

        @media (min-width: $region_root_breakpoint_tablet+1) {
          width: 23.12%;
          &:not(:nth-child(4n+4)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        @media (max-width: $region_root_breakpoint_tablet) {
          width: 31.5%;
          &:not(:nth-child(3n+3)) {
            margin-right: 2%;
          }
          display: inline-block;
        }

        vertical-align: top;
        @include border($region_root_color_foreground);
        min-height: 10em;

        .entry-thumbnail-wrapper img {
          width: 100%;
        }
        .entry-header {
          margin: 1em;
          .entry-title {
            font-size: 1.2em;
          }
        }
        .entry-meta,
        .entry-summary {
          display: none;
        }

        body.effects & {
          transition: transform 75ms ease-in-out, box-shadow 100ms ease-in-out;
          &:hover {
            transform: scale(1.02);
            box-shadow: 0 18px 60px -18px rgba(0, 0, 0, .6);
          }
        }

      }

      // Layout.
      &.layout-left-thumbnail.has-post-thumbnail {
        .entry-thumbnail-wrapper {
          width: 25%;
          float: left;
          img {
            margin-left: 0;
          }
        }
        .entry-header,
        .entry-summary {
          margin-left: 28%;
        }
      }

      // Layout.
      &.layout-right-thumbnail.has-post-thumbnail {
        .entry-thumbnail-wrapper {
          width: 25%;
          float: right;
          img {
            margin-right: 0;
          }
        }
        .entry-header,
        .entry-summary {
          margin-right: 28%;
        }
      }

      // Layout.
      &.layout-timeline {
        margin-left: 10em;
        margin-top: 0;
        margin-bottom: 0;
        &:first-child {
          margin-top: 2em;
        }
        &:last-child {
          margin-bottom: 2em;
        }
        position: relative;
        padding: 1em;
        @include border($region_root_color_foreground, '-left', 1);
        border-top: none;
        border-right: none;
        border-bottom: none;
        .entry-title {
          margin-top: 0;
        }
        .entry-meta > * {
          position: absolute;
          transform: translateX(-100%);
          left: 0;
          padding: 0 1em;
        }
        .entry-meta-time {
          top: 1em;
          line-height: 1.2em;
          width: 10em;
          padding: .2em 1em;
          text-align: right;
        }
        .entry-thumbnail-wrapper {
          display: none;
        }
        .entry-meta-author {
          @include border($region_root_color_foreground, '-bottom', 1);
          top: 1em;
          right: 0;
          left: auto;
          transform: translate(0, 0);
          opacity: $typography_brightness / 100;
        }
      }

      // Layout.
      &.layout-poetry {
        text-align: center;
        @extend %bigger;
        .entry-title {
          font-weight: normal;
        }
        .entry-summary {
          font-weight: 300;
        }
        border-bottom-width: 3px;
        border-bottom-style: dashed;
        &.sticky {
          background: transparent;
          border-width: 3px;
          border-style: dashed;
        }
      }

    }
  }
}
