$z-index-modal: 999999999;
$z-index-normal: 100;
$z-index-low: 0;

$brightness-base: ( ( 50 *( $typography_brightness / 90) ) + 5 ) / 1.5;

$breakpoint_min_mobile: $region_root_breakpoint_mobile;
$breakpoint_max_mobile: ($region_root_breakpoint_mobile - 1px);
$breakpoint_min_tablet: $region_root_breakpoint_tablet;
$breakpoint_max_tablet: ($region_root_breakpoint_tablet - 1px);

/**
 * Produce readable inverted color based on color. black -> white, white -> black and etc.
 */
@function colorInvert($color, $coef: 50) {
  $ci: desaturate(adjust_hue($color, 15deg), 20%);
  $sat: saturation($color);
  $lci: lightness($ci);
  $lc: lightness($color);
  $scoef: $sat * 1.5;
  @if ($scoef < 10) {
    $scoef: 65;
  }
  @if $lc > $scoef or $lc > 85 {
    $ci: darken($ci, $coef);
  } @else {
    $ci: lighten($ci, 100% - $lc);
  }
  @return $ci;
}

@mixin border($color, $pos: null, $width: null) {
  @if $width == null {
    $width: $typography_bordering;
  }
  border#{$pos}: $width * 1px solid rgba($color, $brightness-base / 100);
}

@function opa($color) {
  @return rgba($color, $brightness-base / 1.5 / 100);
}

@function muted($color) {
  @return mix($color, colorInvert($color), 50%);
}

@mixin shadow() {
  @if ($component_effects_shadows) {
    box-shadow: 0 0 12px rgba($region_root_color_foreground, .12);
  }
}

@mixin roundness($pos: '', $coef: 1) {
  @if $typography_roundness {
    $val: ( $typography_roundness / ( 50 / $coef ) ) + 'em';
    @if $pos == '' {
      border-radius: $val;
    } @else if $pos == 'top' {
      border-top-left-radius: $val;
      border-top-right-radius: $val;
    } @else if $pos == 'bottom' {
      border-bottom-left-radius: $val;
      border-bottom-right-radius: $val;
    }
  }
}

/**
 * Background image
 */
@mixin backgroundImage($image, $size, $scroll, $repeat, $x, $y) {
  @if $image {
    background-image: url($image);
    @if $size {
      background-size: $size;
    }
    @if $scroll {
      background-attachment: scroll;
    } @else {
      background-attachment: fixed;
    }
    @if $repeat {
      background-repeat: repeat;
    } @else {
      background-repeat: no-repeat;
    }
    @if $x {
      background-position-x: $x;
    }
    @if $y {
      background-position-y: $y;
    }
  }
}

/**
 * Region Colors
 */
@mixin regionColors($foreground: null, $background: null, $background_opacity: 100, $primary_color: null, $secondary_color: null) {

  @if ($background) {

    @if ($background_opacity == 0) {
      background-color: transparent;
    } @else if ($background_opacity < 100) {
      background-color: rgba($background, ($background_opacity / 100));
    } @else {
      background-color: $background;
    }
  }

  @if ($foreground) {
    color: $foreground;
  }

  @if ($primary_color and $primary_color != $region_root_color_primary) {
    a {
      color: $primary_color;
    }
  }

  @if ($secondary_color and and $secondary_color != $region_root_color_secondary) {
    a:hover {
      color: $secondary_color;
    }
  }

  @if (
    $background and $foreground and $primary_color and $secondary_color
      and ( $background != $region_main_color_background or $foreground != $region_root_color_foreground or $primary_color != $region_root_color_primary or $secondary_color != $region_root_color_secondary )
  ) {

    input,
    textarea,
    .wp-editor-container,
    .select2-container .select2-selection--single,
    .select2-container .select2-choice {
      @include border($foreground);
      background-color: transparent;
      &:focus {
        border-color: $primary_color;
      }
    }
    select {
      background-color: $background;
      @include border($foreground);
      &:focus {
        border-color: $primary_color;
      }
    }

    .button,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      @include button($background, $foreground, $primary_color);
      &.secondary {
        @include button($background, $foreground, $secondary_color);
      }
    }
  }

}

@mixin button($background, $foreground, $color) {

  @if $typography_font_button_text_style {
    @if $typography_font_button_text_style == 'uppercase' {
      text-transform: uppercase;
    } @else {
      font-variant: $typography_font_button_text_style;
    }
  }

  @if $typography_form_button_style == 'border' {
    border: ($typography_bordering + px) solid $color;
    background: transparent;
    color: $color;
    &:hover,
    &:focus {
      background-color: $color;
      border-color: $color;
      color: $background;
    }
  } @else if $typography_form_button_style == 'fill' {
    border: ($typography_bordering + px) solid $color;
    color: $background;
    background: $color;
    &:hover,
    &:focus {
      background-color: mix($color, $foreground, 80%);
      border-color: mix($color, $foreground, 80%);
      color: $background;
    }
  } @else {
    color: $color;
    font-weight: bold;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@mixin horizontalMenu($background: $region_root_color_background, $foreground: $region_root_color_foreground, $style: 'bold') {
  position: relative;

  @media (max-width: $breakpoint_max_tablet) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .depth-0 {

    display: table-cell;
    vertical-align: middle;
    position: static;

    > a {
      padding: .6rem 1rem;
      @media (max-width: $breakpoint_max_tablet) {
        padding: 1rem;
      }
      position: relative;
      text-decoration: none;
      font-weight: inherit;
    }

    > .sub-menu {
      display: none;
      margin: 0;
    }

    &.current-menu-item {
      @if $style == 'border-top' {
        border-top: 4px solid $region_root_color_background;
      } @else if $style == 'border-bottom' {
        border-bottom: 4px solid $region_root_color_background;
      } @else if $style == 'underline' {
        > a {
          text-decoration: underline;
        }
      } @else if $style == 'bold' {
        > a {
          font-weight: bolder;
        }
      } @else if $style == 'background' {
        background: $background;
        > a {
          color: $foreground;
        }
      } @else if $style == 'color-primary' {
        > a {
          color: $region_root_color_primary;
        }
      } @else if $style == 'color-secondary' {
        > a {
          color: $region_root_color_secondary;
        }
      }
    }

    @media (min-width: $breakpoint_max_tablet) {

      // @TODO consider if to show arrows or not.
      //&.menu-item-has-children,
      //&.menu-item-type-tinsta-nav-menu-widget-area {
      //  > a:after {
      //    @extend %la;
      //    content: $la-angle-down;
      //    font-size: .6rem;
      //    margin-left: .6rem;
      //  }
      //}

      > .sub-menu {
        position: absolute;
        z-index: $z-index-modal;
        white-space: nowrap; // fix for with auto.
        overflow-x: hidden;

        min-width: 12rem;
        max-width: 100%;
        width: auto;

        margin-left: unset;
        margin-right: unset;

        box-shadow: 0 5px 28px -12px rgba(0, 0, 0, .9);
        color: $foreground;
        background-color: $background;

        a {
          color: $foreground;
          padding: .6rem;
        }

        > .sub-menu-inner {
          display: table;
          border-spacing: 1rem;
          table-layout: fixed;
          //min-width: 24rem;
          .widget {
            display: table-cell;
            vertical-align: top;
            white-space: normal;
            //min-width: 12rem;
          }
        }

      }
      &.menu-item-type-tinsta-nav-menu-widget-area > .sub-menu {
        width: 100%;
      }
      //&:target,
      &:hover {
        background: $background;
        > a {
          color: $foreground;
        }
        > .sub-menu {
          display: block;

        }
      }
    }

  }
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

%wrapper {
  margin-left: auto;
  margin-right: auto;
  @if $region_root_width {
    max-width: $region_root_width + px;
  }
  min-width: 300px;
  width: 100%;
}

%small {
  font-size: .92rem;
}

%big {
  font-size: 1.22rem;
}

%bigger {
  font-size: 1.44rem;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

%disabled {
  filter: grayscale(100%);
}

.no-js .hide-if-nojs {
  display: none;
}

.no-scroll {
  overflow: hidden !important;
}
