/**
 * Load the LineAwesome font
 */

@font-face {
  font-family: "LineAwesome";
  src: url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.eot?v=1.1.");
  src: url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.eot??v=1.1.#iefix") format("embedded-opentype"),
  url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.woff2?v=1.1.") format("woff2"),
  url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.woff?v=1.1.") format("woff"),
  url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.ttf?v=1.1.") format("truetype"),
  url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.svg?v=1.1.#fa") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "FontAwesome";
    src: url($tinsta_theme_dir_url + "/assets/fonts/line-awesome.svg?v=1.1.#fa") format("svg");
  }
}
