@mixin sectionBackground($image_url, $size, $scroll, $repeat, $position_x, $position_y) {
  @if $image_url {
    background-image: url($image_url);
    @if $size {
      background-size: $size;
    }
    @if $scroll {
      background-attachment: scroll;
    } @else {
      background-attachment: fixed;
    }
    @if $repeat {
      background-repeat: repeat;
    } @else {
      background-repeat: no-repeat;
    }
    @if $position_x {
      background-position-x: $position_x;
    }
    @if $position_y {
      background-position-y: $position_y;
    }
  }
}

%border-color {
  border-color: rgba(mix($section_main_color_background, $section_main_color_foreground, 50%), .5);
}

.wrapper {
  margin: 0 auto;
  @if $section_root_width {
    max-width: $section_root_width + px;
  }
  min-width: 300px;
  width: 100%;
}

body {
  background-color: $section_root_color_background;
  color: $section_main_color_foreground;
  @include sectionBackground($section_root_image, $section_root_image_size, $section_root_image_attachment_scroll, $section_root_image_repeat, $section_root_image_position_x, $section_root_image_position_y);
}

/**
 * Topline
 */
.site-topline-wrapper {
  @extend .clearfix;
  @extend .small;
  @if $section_topline_sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
  }
  padding: .2em 0;
  text-align: left;
  background-color: $section_topline_color_background;
  //border-bottom: 1px solid mix($section_topline_color_background, $section_topline_color_foreground, 90%);
  color: $section_topline_color_foreground;
  @if $section_topline_color_background_opacity < 100 {
    background-color: rgba($section_topline_color_background, ($section_topline_color_background_opacity / 100));
  }
}

/**
 * Header
 */
.site-header-wrapper {
  @extend .clearfix;

  position: relative;
  -js-display: flex;
  display: flex;

  @if $section_primary_menu_movetop {
    flex-flow: column-reverse;
  } @else {
    flex-flow: column;
  }

  // Sticky header tweaks.
  @media (min-width: $section_root_breakpoint_tablet) {
    body.sticky-header & {
      position: sticky;
      left: 0;
      right: 0;
      top: 0;
      z-index: 100;
    }
    body.sticky-header.admin-bar & {
      top: 32px;
    }
  }

  // @TODO optimize this
  @if $section_header_background_wrapper {
    background-color: $section_header_color_background;
    @if $section_header_color_background_opacity < 100 {
      background-color: rgba($section_header_color_background, ($section_header_color_background_opacity / 100));
    }
    color: $section_header_color_foreground;
    @if (abs(lightness($section_header_color_background) - lightness($section_main_color_background) ) < 5) {
      border-bottom: 1px solid mix($section_header_color_background, $section_header_color_foreground, 90%);
    }
  } @else {
    .site-header {
      padding: 1em;
      background-color: $section_header_color_background;
      @if $section_header_color_background_opacity < 100 {
        background-color: rgba($section_header_color_background, ($section_header_color_background_opacity / 100));
      }
      color: $section_header_color_foreground;
      @if (abs(lightness($section_header_color_background) - lightness($section_main_color_background) ) < 5) {
        border-bottom: 1px solid mix($section_header_color_background, $section_header_color_foreground, 90%);
      }
    }
  }

  @include sectionBackground($section_header_image, $section_header_image_size, $section_header_image_attachment_scroll, $section_header_image_repeat, $section_header_image_position_x, $section_header_image_position_y);

  a, textarea, select, input {
    color: $section_header_color_foreground;
  }
  //a:hover {
  //  color: $section_root_color_secondary;
  //}

  .site-header {
    @extend .wrapper;
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    @if $section_header_padding {
      padding-top: $section_header_padding + px;
      padding-bottom: $section_header_padding + px;
    }
    justify-content: space-between;
    align-items: center;

    .widget {
      display: inline-block;
      max-width: 50%;
      margin: 0 1em; // Make vertical spacing as small as possible to allow user almost eleminate spacing.
      &:only-child {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media (min-width: $section_root_breakpoint_tablet) {
      .widget:first-child {
        margin-left: 0;
      }
      .widget:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: $section_root_breakpoint_tablet) {
      flex-flow: column;
      // Reset user defined (from Customizer) padding from top and bottom.
      padding-top: 0;
      padding-bottom: 0;
      .widget {
        margin: 1em;
        max-width: 100%;
        width: auto !important;
      }
    }

    // Logo widget tweaks
    .widget_tinsta-logo {
      color: lighten($section_header_color_foreground, 10%);
    }

    // All nav menus in header.
    .widget_nav_menu {
      .menu {
        @extend .menu-inline;
        @media (min-width: $section_root_breakpoint_tablet) {
          > li {
            position: relative;
            > a {
              height: 100%;
              letter-spacing: 1px;
              padding: .5em 1em;
              &:hover {
                background-color: transparent;
              }
            }
            > .sub-menu {
              left: 50%;
              transform: translateX(-50%);
              @extend %roundness-bottom;
              &:before {
                left: 50% !important;
                margin-left: -5px;
              }
            }
          }
        }
      }
    }

  }

  /**
   * Main menu.
   */
  .site-primary-menu {

    background-color: $section_primary_menu_color_background;
    @if $section_primary_menu_color_background_opacity < 100 {
      background-color: rgba($section_primary_menu_color_background, ($section_primary_menu_color_background_opacity / 100));
      body.effects & {
        -webkit-backdrop-filter: saturate(80%) blur(15px);
      }
    }

    // Doesn't supports.
    // @include sectionBackground($section_primary_menu_image, $section_primary_menu_image_size, $section_primary_menu_image_attachment_scroll, $section_primary_menu_image_repeat, $section_primary_menu_image_position_x, $section_primary_menu_image_position_y);

    position: relative;
    @extend .clearfix;
    .menu {
      @extend .wrapper;
      @extend .menu-inline;

      @if $section_primary_menu_aligncenter {
        text-align: center;
      }

      > li {
        > a {
          color: $section_primary_menu_color_foreground;
          font-weight: normal;
        }
        > .sub-menu {
          @extend %roundness-bottom;
          @if $section_primary_menu_aligncenter {
            text-align: initial;
          }
          &:before {
            display: none;
          }
          border-top: none !important;
          a {
            color: $section_primary_menu_color_background;
          }
        }
      }
      > li > .sub-menu,
      > li:hover > a,
      > li > a:hover,
      > .current-menu-ancestor > a,
      > li.current-menu-item > a,
      > li.menu-item-has-children:hover > a:hover {
        @if (abs(lightness($section_primary_menu_color_foreground) - lightness($section_primary_menu_color_background))  < 20) {
          background-color: $section_primary_menu_color_foreground;
          color: invert($section_primary_menu_color_background);
        }
        @else {
          background-color: $section_primary_menu_color_foreground;
          color: $section_primary_menu_color_background;
        }
      }
    }
  }
}

/**
 * The main container area
 */
.site-container-wrapper {

  color: $section_main_color_foreground;
  background-color: $section_main_color_background;
  @if $section_main_color_background_opacity < 100 {
    background-color: rgba($section_main_color_background, ($section_main_color_background_opacity / 100));
  }

  .site-container {

    @extend .wrapper;

    vertical-align: top;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .site-main {

      @include sectionBackground($section_main_image, $section_main_image_size, $section_main_image_attachment_scroll, $section_main_image_repeat, $section_main_image_position_x, $section_main_image_position_y);

      vertical-align: top;
      flex-grow: 1;
      flex-shrink: 1;
      order: 1;
      min-width: 0; // Fixes the enormous <pre>

      @if ( $section_sidebar_primary_color_background or $section_sidebar_secondary_color_background ) {
        padding-left: 1em;
        padding-right: 1em;
      }

    }

    body.page-template-template-thin & {
      width: 50%;
      max-width: 50%;
    }

    body.page-template-template-fullwidth & {
      width: 100%;
      max-width: 100%;
    }

    .sidebar {
      flex-grow: 0;
      flex-shrink: 0;
      vertical-align: top;
      padding-bottom: 2em;
      padding-top: 2em;

      &.sidebar-primary {
        order: 0;
        @if $section_sidebar_primary_width {
          width: $section_sidebar_primary_width + px;
        }
        @if $section_sidebar_primary_color_foreground {
          color: $section_sidebar_primary_color_foreground;
        }
        @if ( $section_sidebar_primary_color_background and ( $section_sidebar_primary_color_background != $section_main_color_background ) ) {
          background-color: $section_sidebar_primary_color_background;
          padding-right: 1em;
          padding-left: 1em;

          // Invert colors if the background is dark as the primary color.
          @if abs(lightness($section_sidebar_primary_color_background) - lightness($section_root_color_primary)) < 40% {
            color: $section_root_color_primary_inverted;
            a {
              color: $section_root_color_primary_inverted;
            }
            a:hover {
              color: $section_root_color_primary;
            }
          }

        } @else {
          padding-right: 1em;
          padding-left: 0;
        }
      }

      &.sidebar-secondary {
        order: 2;
        @if $section_sidebar_secondary_width {
          width: $section_sidebar_secondary_width + px;
        }
        @if $section_sidebar_secondary_color_foreground {
          color: $section_sidebar_secondary_color_foreground;
        }
        @if ( $section_sidebar_secondary_color_background and ( $section_sidebar_secondary_color_background  != $section_main_color_background ) ) {
          background-color: $section_sidebar_secondary_color_background;
          padding-right: 1em;
          padding-left: 1em;
        } @else {
          padding-left: 1em;
          padding-right: 0;
        }

        // Invert colors if the background is dark as the primary color.
        @if abs(lightness($section_sidebar_secondary_color_background) - lightness($section_root_color_primary)) < 40% {
          color: $section_root_color_primary_inverted;
          a {
            color: $section_root_color_primary_inverted;
          }
          a:hover {
            color: $section_root_color_primary;
          }
        }
      }

      .sidebar-title {
        @extend .base-title;
        @extend .bigger;
        margin-bottom: .6em;
        margin-top: .6em;
      }

    }

    @media (max-width: $section_root_breakpoint_tablet) {
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      flex-flow: column;
      .site-main {
        order: 1;
        width: auto !important;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        &:not(:last-child) {
          border-bottom: 1px solid mix($section_main_color_background, $section_main_color_foreground, 90%);
          padding-bottom: 1em;
        }
      }
      .sidebar {
        margin-top: 1em;
        margin-bottom: 1em;
        width: auto !important;
        order: 2;
      }
    }

  }
}

/**
 * Footer
 */
.site-footer-wrapper {
  @extend .clearfix;

  background-color: $section_footer_color_background;
  @if $section_footer_color_background_opacity < 100 {
    background-color: rgba($section_footer_color_background, ($section_footer_color_background_opacity / 100));
  }

  @include sectionBackground($section_footer_image, $section_footer_image_size, $section_footer_image_attachment_scroll, $section_footer_image_repeat, $section_footer_image_position_x, $section_footer_image_position_y);

  body.effects:not(.boxed) & {
    box-shadow: inset 0 9px 8px -8px rgba(0, 0, 0, .5);
  }
  .site-footer {
    @extend .wrapper;
    border-collapse: collapse;
    border-spacing: 1em;
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    text-align: center;

    @if $section_footer_background_highlight_inner {
      background: rgba($section_footer_color_foreground, .1);
    }

    @media (max-width: $section_root_breakpoint_tablet) {
      margin-bottom: 0;
    }

    @media (max-width: $section_root_breakpoint_mobile) {
      flex-flow: column;
      display: block;
      width: 100%;
    }

    .widget {
      display: inline-block;
      max-width: 30%;
      margin: 1em;
      text-align: left;
      vertical-align: top;
      width: auto;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: $section_root_breakpoint_tablet) and (min-width: $section_root_breakpoint_mobile) {
        max-width: 48%;
      }

      @media (max-width: $section_root_breakpoint_mobile) {
        max-width: none;
        width: auto;
      }

    }

  }
  &, input, textarea, select, .widgettitle, button {
    color: $section_footer_color_foreground;
  }
  a {
    color: mix($section_footer_color_foreground, $section_root_color_primary, 80%);
    &:hover {
      color: $section_root_color_secondary;
      text-decoration: none;
    }
  }
  input, textarea, select {
    background-color: darken($section_footer_color_background, 7%);
    border-color: darken($section_footer_color_background, 10%);
    body.effects {
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
    }
    color: $section_footer_color_foreground;
    &:focus {
      background-color: darken($section_footer_color_background, 4%);
    }
  }
  input[type=button], input[type=submit], input[type=reset], button, .button {
    background-color: darken($section_footer_color_background, 7%);
    border-color: darken($section_footer_color_background, 7%);
    box-shadow: none;
    color: $section_footer_color_foreground;
    &:hover {
      background-color: darken($section_footer_color_background, 5%);
      border-color: darken($section_footer_color_background, 5%);
    }
  }
  .widget .widgettitle {
    border-bottom: 1px solid mix($section_footer_color_foreground, $section_footer_color_background, 10%);
    margin: 0 0 .8em 0;
    padding: .8em 0;
    text-align: center;
    font-weight: bold;
  }
}

/**
 * Bottom
 */
.site-bottomline-wrapper {
  @extend .clearfix;
  @extend .small;
  @if $section_bottomline_sticky {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  padding: 1em;
  text-align: center;
  background-color: $section_bottomline_color_background;
  color: $section_bottomline_color_foreground;
  @if $section_bottomline_color_background_opacity < 100 {
    background-color: rgba($section_bottomline_color_background, ($section_bottomline_color_background_opacity / 100));
  }
}

/**
 * Error 404 page
 */
body.error404 {
  .error-content-wrapper {
    margin: 2em auto;
    max-width: $section_root_breakpoint_tablet;
    min-width: $section_root_breakpoint_mobile;
    width: 90%;
    padding: 2em;
    .title {
      @extend .base-title;
    }
    .site-info {
      @extend .base-title;
      text-align: right;
    }
  }
}

/**
 * Boxed layout
 */
body.boxed {
  @media (min-width: $section_root_breakpoint_tablet) {
    .site-topline-wrapper,
    .site-header-wrapper,
    .site-container-wrapper,
    .site-footer-wrapper,
    .site-bottomline-wrapper {
      @extend .wrapper;
    }
    .site-topline-wrapper .wrapper {
      padding: 0 .4em;
    }
    .site-container,
    .site-footer {
      padding: 0 1em;
    }
    .site-header-wrapper {
      padding: 0;
      .site-header {
        width: auto;
        margin: 0 1em;
      }
    }
    .site-container-wrapper {
      body.effects & {
        box-shadow: 0 0 38px -11px rgba(0, 0, 0, .5);
      }
    }
  }
}

/**
 * Login integration
 */
body.login {

  #login_error {
    @extend .message;
    @extend .error;
  }

  .message.register {
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    padding: 0;
    margin: 0;
    color: inherit;
    @extend .big;
  }

  [aria-describedby="login_error"] {
    @extend .error;
  }
}
