html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: $region_root_color_secondary;

  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
}

html[dir="rtl"],
html[dir="rtl"] body {
  direction: rtl;
  unicode-bidi: embed;
}

// @TODO a11y focus outline

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior;
     see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

// Seems that placeholders can't be chained.
::-webkit-input-placeholder { color: inherit }
::-moz-placeholder { color: inherit }
:-ms-input-placeholder { color: inherit }

/**
 * The body that should contain all base typography and color settings.
 */
body {

  @if $typography_font_size {
    font-size: $typography_font_size + px;
  }

  @if $typography_font_line_height {
    line-height: ( $typography_font_line_height / 100 ) ;
  }

  font-weight: normal;
  font-style: normal;

  @if $typography_font_google {
    font-family: $typography_font_google, $typography_font_family;
  } @else {
    font-family: $typography_font_family;
  }

  @media (max-width: $region_root_breakpoint_tablet) {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeSpeed;
  }

  @if $typography_text_justify {
    text-align: justify;
  }

  @if $typography_text_wordbreak {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  -webkit-font-smoothing: subpixel-antialiased;

  @if $typography_text_enhancements {
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }

}

/**
 * Screen reader text.
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  &:focus {
    background-color: $region_main_color_background;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .4);
    clip: auto !important;
    color: $region_root_color_primary;
    display: block;
    @extend %big;
    font-weight: 700;
    height: auto;
    left: 5px;
    padding: 1em;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 999999999; /* Above WP toolbar. */
  }
}

.color-primary {
  color: $region_root_color_primary;
}

.color-secondary {
  color: $region_root_color_secondary;
}

.wrapper {
  @extend %wrapper;
}

.small {
  @extend %small;
}

.big {
  @extend %big;
}

.bigger {
  @extend %bigger;
}

.clearfix {
  @extend %clearfix;
}

.disabled,
&[disabled] {
  @extend %disabled;
}

p {
  // @TODO Should find different way to deal with floated images in <p> element.
  // overflow: hidden;
  margin: 16px 0;
  padding: 0;
}

img {

  // This is evil
  //height: auto;
  //max-width: 100%;
  //width: auto;

  // With mobiles with such resolution it's better to show images pixelated (IMHO)
  @media (max-width: 480px) {
    image-rendering: pixelated;
  }
}

img, video {
  max-width: 100%
}

// @TODO there was some reason to do this hack, but can't remember.
//li img {
//  margin: 0 .4em 0 0;
//  vertical-align: middle;
//}

a {
  color: $region_root_color_primary;
  text-decoration: none;

  &:hover {
    color: $region_root_color_secondary;
    //text-decoration: underline; // underlined decoration could make troubles with icons
    abbr {
      border-bottom-width: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.base-title,
%base-title{

  @if $typography_font_headings_google {
    font-family: $typography_font_headings_google;
  } @else if $typography_font_family_headings {
    font-family: $typography_font_family_headings;
  }

  @if $typography_font_headings_style {
    @if $typography_font_headings_style == 'uppercase' {
      text-transform: uppercase;
    } @else {
      font-variant: $typography_font_headings_style;
    }
  }

  font-weight: bold;
  line-height: 1em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

details > summary {
  cursor: pointer;
  @extend %noselect;
}

ul,
ol {
  margin: 0 0 0 1.5em;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

kbd {
  background-color: rgba($region_root_color_foreground, .8);
  border-radius: .26em;
  box-shadow: inset 1px -1px 1px rgba(#000, 0.25);
  color: $region_main_color_background;
  padding: 2px 4px;
}

.size-thumbnail,
figure {
  margin: 0 0 1.5em 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.alignleft {
  clear: left;
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.alignright {
  clear: right;
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}

img.alignleft,
img.alignright {
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

pre,
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  margin-left: .1em;
  margin-right: .1em;
}
code {
  padding-left: .2em;
  padding-right: .2em;
  display: inline-block;
}
code,
pre {
  background-color: rgba($region_root_color_foreground, .08);
}

pre {
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

blockquote {
  @extend %bigger;
  quotes: "" "";
  &:before,
  &:after {
    content: "";
  }
  border-top: 4px solid $region_root_color_secondary;
  border-bottom: 4px solid $region_root_color_secondary;
  font-style: italic;
  margin: 1em 1%;
  overflow: hidden;
  padding: 0 .6em;
  position: relative;
}

blockquote,
cite {
  line-height: 1.72em;
}

q {
  @extend %big;
  font-style: oblique;
  quotes: "“" "”" "‘" "’";
}

hr {
  @include border($region_root_color_foreground, '-bottom');
  border: none;
  clear: both;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  zoom: 1;
}

table {
  border-spacing: 0;
  margin-bottom: 1.5em;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
  border-width: 1px;
  border-style: solid;
  @include border($region_root_color_foreground, '', 1);

  thead {
    background-color: opa(muted($region_main_color_background, $region_root_color_foreground));
  }

  td, th {
    padding: .4em;
  }

  thead tr:last-child > th,
  thead tr:last-child > td,
  tbody tr:first-child > th {
    border-bottom: 1px solid rgba($region_root_color_foreground, .12);
  }

  tbody th,
  tbody td,
  thead th,
  thead td {
    border-right: 1px solid rgba($region_root_color_foreground, .12);
    &:last-child {
      border-right: none;
    }
  }

  > tr > td:last-child,
  > tr > th:last-child,
  > tfoot > tr:first-child td,
  > tfoot > tr:first-child th {
    border-left: 0;
  }

  > tfoot > tr:first-child :last-child,
  > thead > tr > :last-child,
  > tbody > tr > :last-child,
  > tfoot > tr > :last-child {
    border-right: 0;
  }

  > tr:last-child > td,
  > tr:last-child > th,
  > tbody > tr:last-child > td,
  > tbody > tr:last-child > th,
  > tfoot > tr:last-child > td,
  > tfoot > tr:last-child > th {
    border-bottom: 0;
  }

  tr:nth-child(even) {
    background-color: opa(muted($region_main_color_background, $region_root_color_foreground));
  }

}

img.size-full {
  width: auto;
}

img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption-text {
  color: rgba($region_root_color_foreground, .7);
  @extend %small;
}

/* wp-caption */
.wp-caption {
  color: rgba($region_root_color_foreground, .7);
  background: rgba($region_root_color_background, .7);
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;

  &.alignnone {
      margin: 5px 20px 20px 0;
  }
  &.alignleft {
      margin: 5px 20px 20px 0;
  }
  &.alignright {
      margin: 5px 0 20px 20px;
  }
  img {
      border: 0 none;
      height: auto;
      margin: 0;
      max-width: 98.5%;
      padding: 0;
      width: auto;
  }
}

/**
 * Galleries
 */
ul.wp-block-gallery {
  margin: 0;
}
.gallery {
  margin-bottom: 1.6em;
}

.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

@for $i from 2 through 9 {
  .gallery-columns-#{$i} .gallery-item {
    max-width: ( 100 / $i ) + '%';
  }
}

.gallery-icon img {
  margin: 0 auto;
}

/**
 * Forms
 */
fieldset {
  min-width: 0; // https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
  @include border($region_root_color_foreground);
  border-width: $typography_bordering + px;
  legend {
    padding-left: 1em;
    padding-right: 1em;
  }
}
label {
  padding-bottom: .4em;
}
.form-row-wide {
  input,
  select,
  textarea {
    width: 100%;
  }
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  color: inherit;
  line-height: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  @extend %noselect;
  cursor: pointer;
  vertical-align: middle;
  padding: 0; /* Addresses excess padding in IE8/9 */
}
select {
  @extend %noselect;
  cursor: pointer;
  height: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input,
textarea,
select,
.wp-editor-container,
.select2-container .select2-selection--single,
.select2-container .select2-choice {
  @include roundness();
  padding: (( $typography_form_spacing *(1/100) ) + em) (( $typography_form_spacing *(2/100) ) + em);
  outline: 0;

  @include border($region_root_color_foreground);
  background-color: $region_main_color_background;
  &:focus {
    border-color: $region_root_color_primary;
  }

}
.select2-container .select2-selection--single > .select2-chosen,
.select2-container .select2-choice > .select2-chosen {
  padding: (( $typography_form_spacing *(1/100) ) + em) (( $typography_form_spacing *(2/100) ) + em);
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  resize: vertical;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 99.9%;
  @include roundness('', 0.5);
}

//li.button > a, // What's the case of this?
//a.button, // What's the case of this?
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %noselect;
  @include roundness();
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
  -moz-appearance: none;
  font-weight: normal;

  @include button($region_main_color_background, $region_root_color_foreground, $region_root_color_primary);
  &.secondary {
    @include button($region_main_color_background, $region_root_color_foreground, $region_root_color_secondary);
  }
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
}

/**
 * Embedable containers
 */
.media-container {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.mejs-container,
.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
}

/**
 * Menu
 */
.menu,
.menu li,
.menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu {
  // .menu-item {
  //   // Break the submenu widths
  //   //position: relative;
  // }
  li {
    &.current_page_item,
    &.current-menu-parent,
    &.current-menu-ancestor,
    &.current-menu-item {
      > a {
        font-weight: bold;
      }
    }
  }
  a {
    display: block;
    &:hover {
      text-decoration: underline;
    }
    .description {
      display: block;
      line-height: .8em;
      font-size: .8em;
      text-decoration: none;
    }
  }
}


/**
 * Avatars
 */
.avatar {
  @include roundness();
}

//
@media (max-width: $region_root_breakpoint_tablet) {
  .hentry .caption,
  .hentry .alignleft,
  .hentry .alignright,
  .hentry figure {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: block;
    width: auto;
    min-width: unset;
    max-width: 100%;
    float: none;
    clear: both;
  }
}
.hentry {
  img {
    max-width: 100%;
    height: auto;
  }
}
