/**
 * Base widget styling.
 */
.widget {

  &:empty {
    display: none !important;
  }

  .widgettitle {
    @extend %base-title;

    margin: 0;
    padding-bottom: .6rem;

    @media (max-width: $breakpoint_max_tablet) {
      text-align: center;
      padding: .6rem;
      margin: .6rem 0;
    }
  }

  margin-bottom: 2rem;

  > ul {
    margin: 0;
  }

  ul {
    li {
      list-style: none;
    }
  }

  @media (max-width: $breakpoint_max_mobile) {
    float: none;
    max-width: none;
    width: auto !important;
  }

}

/**
 * The logo
 */
.widget_tinsta_logo_widget {
  @include roundness();

  text-align: center;

  &.colored {
    background-color: $region_root_color_secondary;
    background-image: linear-gradient(-4deg, darken($region_root_color_secondary, 10%) 28%, transparent 28%),
    linear-gradient(-8deg, $region_root_color_secondary 84%, transparent 84%),
    linear-gradient(-8deg, lighten($region_root_color_secondary, 6%) 84%, transparent 84%),
    linear-gradient(-8deg, lighten($region_root_color_secondary, 12%) 100%, transparent 100%);
    color: $region_main_color_background;
  }

  &.colored-inverted {
    background-color: $region_header_color_foreground;
    background-image: linear-gradient(-4deg, darken($region_header_color_foreground, 10%) 28%, transparent 28%),
    linear-gradient(-8deg, $region_header_color_foreground 84%, transparent 84%),
    linear-gradient(-8deg, lighten($region_header_color_foreground, 6%) 84%, transparent 84%),
    linear-gradient(-8deg, lighten($region_header_color_foreground, 12%) 100%, transparent 100%);
    color: $region_header_color_background;
  }

  .custom-logo-link {
    img {
      //max-height: 48px;
      //max-width: 256px;
      height: auto;
      width: auto;
    }
    &.noimage {
      @extend %base-title;
      color: inherit;
      font-variant: small-caps;
      font-size: 2.8rem;
      letter-spacing: -.04rem;
      line-height: 1rem;
      padding: .1rem 0;
      text-decoration: none;
    }
  }
  .logo-site-description {
    @extend %small;
    padding: 0 .6rem;
    opacity: $typography_brightness / 100;
  }
  @media (max-width: $breakpoint_max_tablet) {
    margin: 1rem;
  }
}

/**
 * Media widget
 */
.widget_media_image {
  img {
    display: block;
    @media (max-width: $breakpoint_max_tablet) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/**
 * Widgets with link in list
 */
.widget_archive,
.widget_categories,
.widget_rss,
.widget_pages {
  li {
    &:not(:last-child) {
      @include border($region_root_color_foreground, '-bottom', 1);
    }
    a {
      display: inline-block;
      padding: .4rem 0;
    }
  }
}

/**
 * Widgets with link in list and select
 */
.widget_archive,
.widget_categories {
  select {
    width: 100%;
  }
}

.widget_nav_menu {
  a {
    padding: .4rem 0;
  }
}

/**
 * Widget with list make margin of bottom element.
 */
.widget_recent_entries,
.widget_recent_comments {
  li {
    margin-bottom: 1rem;
  }
}

/**
 * Tag cloud widget
 */
.widget_tag_cloud {
  .tagcloud {
    text-align: center;
    a {
      display: inline-block;
      vertical-align: middle;
      line-height: 1rem;
    }
  }
}

/**
 * Calendar widget
 */
.widget_calendar {
  @extend %small;
  table {
    width: 100%;
    margin-bottom: 0;
    border: none;
    thead td,
    thead th,
    tbody td,
    tbody th {
      border: none;
      text-align: center;
    }
    tfoot td {
      @extend %small;
      text-transform: uppercase;
    }
  }
}

/**
 * RSS widget
 */
.widget_rss {
  li a.rsswidget {
    @extend %big;
  }
  .rss-date {
    @extend %small;
    font-variant: all-small-caps;
  }
  .rssSummary {
    padding: 1rem 0;
  }
  cite {
    display: block;
    font-style: italic;
    text-align: right;
  }
}

/**
 * Video widget
 */
.widget_media_video {
  position: relative;
  width: 100%;
  .mejs-container {
    max-width: 100%;
  }
}

/**
 * Search Widget
 */
.widget_search {
  color: inherit;
  .search-submit {
    display: none;
  }
  label {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 150ms ease-in-out;
    &:before {
      @extend %la;
      content: $la-search;
      position: absolute;
      color: inherit;
      top: 1.2rem;
      margin-top: -.7rem;
      left: .5rem;
      height: 1.4rem;
      width: 1rem;
      line-height: 1.4rem;
      font-size: 1.4rem;
      vertical-align: middle;
      text-align: center;
    }
  }
  .search-field {
    @include roundness();
    border: none !important;
    box-sizing: border-box;
    padding: .4rem .6rem .4rem 2.8rem;
    width: 100%;
    background-color: rgba($region_root_color_foreground, .5) !important;
    &:focus {
      background-color: rgba($region_root_color_background, .1) !important;
      color: unset;
    }
  }

  .search-autocomplete-list {
    position: absolute;
    z-index: $z-index-modal;
    width: 100%;
    min-width: 20rem;
    box-shadow: 0px 5px 16px -8px #000;
    background: $region_root_color_background;
    border: 1px solid #ddd;
    overflow: hidden;
    @media (max-width: $breakpoint_max_tablet) {
      width: 94vw;
      position: static;
    }
    ul {
      margin: 0;
    }
    a {
      color: $region_root_color_foreground;
      padding: .2rem .6rem;
      display: block;
    }
    li:hover a,
    li.active a {
      background-color: opa(muted($region_root_color_background));
      color: $region_root_color_primary;
    }

  }

}

/*
 * Login form
 */
.widget_tinsta_loginform_widget {
  input {
    max-width: 100%;
  }
  .login-username,
  .login-password {
    label {
      font-weight: bold;
      min-width: 14rem;
      max-width: 100%;
      display: inline-block;
    }
  }
}

/**
 * Nav menu widget.
 */
.widget_nav_menu {
  max-width: 100%;
  // Only when in header
  .site-header & {
    .menu {
      @include horizontalMenu($region_header_color_foreground, $region_header_color_background);
    }
  }
}

/**
 * User menu widget
 */
.widget_tinsta_userprofile_widget {
  .user-info {
    font-weight: bold;
    &.style-icon,
    &.style-iconname {
      &:before {
        @extend %la;
        content: $la-user;
        margin-right: .6rem;
      }
      margin-left: .4rem;
    }
    &.style-icon,
    &.style-avatar {
      text-align: center;
    }
    .avatar {
      display: inline-block;
      max-width: 48px;
      max-height: 48px;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }
}
